/* Basic */

body {
  margin: 0;
  overflow: scroll;
}

.clear{
  clear:both;
  overflow: hidden;
}
.showPicMode,.changePicMode{
  display: block;
  width : 9px;
  height: 9px;
 
  margin-top: 8px;
}
.changeMode{
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 70px;
}
.showPicMode{
  
  background: url('../../images/page1/u17.png') left no-repeat;
 
}
.changePicMode{
  background: url('../../images/page1/u17_selected.png') left no-repeat;
}
.browserupgrade {
  margin: 0;
  padding: .5em 1em;
  background-color: #fcfcfc;
  text-align: center;
}


/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.navbar-toggle .icon-bar {
  background-color: #0074d9;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #0074d9;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}


/* Content */

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 200px;
  max-height: 516px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 516px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -15px;
}

.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 220px;
  height: 148px;
  
  margin: 5px 0 10px 5px;
}

.preview-md {
  width: 139px;
  height: 78px;
}

.preview-sm {
  width: 69px;
  height: 39px;
}

.preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.docs-data > .input-group > label {
  min-width: 60px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 5px;
  margin-bottom: 10px;
  
}
.btn-noMargin{
  margin-left: 0px !important;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 10px;
}

.docs-tooltip {
  display: block;
  margin: -6px -12px;
  padding: 6px 12px;
}

.docs-tooltip > .icon {
  margin: 0 -3px;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner,
.btn-toggle .tooltip-inner {
  white-space: nowrap;
}

.btn-toggle {
  padding: 6px;
}

.btn-toggle > .docs-tooltip {
  margin: -6px;
  padding: 6px;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -15px!important;
  }

  .btn-group-crop > .btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 3px 20px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}

.docs-diagram .modal-dialog {
  max-width: 352px;
}
.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* Footer */

.docs-footer {
  overflow: hidden;
}

.links {
  text-align: center;
  margin-bottom: 30px;
}

.heart {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ddd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.heart:hover {
  color: #ff4136;
}

.heart:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  border-top: 1px solid #eee;
  content: " ";
}

.heart:after {
  position: relative;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  content: "♥";
}

/* Map界面CSS */
.main-content{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.content-left,.content-canvas,.content-info{
  
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin: 0 20px;
}

.content-left{
  width: 300px;
  height: 500px;
}
  .settings{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #fff;
  }
  .settings label, .settings p{
    font-size: 16px;
    color: #08c;
    font-weight: normal;
    text-align: center;
  }
  .step-lab{
    font-size: 14px !important;
    margin-left: 2px;
  }
  .step-inp,.step-inp1{
    width: 80px;
    height: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 2px;
  }
  .butn{
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background: #fff;
    color: #08c;
    padding: 5px 20px;
  }
  .step-inp1{
    margin-right: 15px;
    width: 100px;
  }
  .inpMod,.inpMod1{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .inpMod1{
    padding-left: 20px;
  }
  .layersUl{
    margin-left: 0px;
  }
  .layersLi{
    cursor: pointer;
  }
  .layersP{
    
    font-size: 16px;
  }
  .layersP:hover{
    background: yellowgreen;
    color: #fff;
  }
  .layersP > span{
    margin: 0 3px;
    font-weight: bold;
    color: #08c;
  }

.content-canvas{
  width: 900px;
  height: 500px;
}
.canvasTool{
margin-left: 60px;
}
.btn-add{
  background: rgb(245, 245, 245);
  color: #000;
  border: none;
}
.layHover:hover{
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #08c;
  color: #fff;
}
.layHover{
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-info{
  width: 300px;
  overflow: auto;
}
