/** Home Page **/
body {
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

p{
  margin : 5px 0;
}

@media (min-width: 979px){
    body {
            padding-top: 40px;
    }
}


/** Login Page **/
#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.btn-primary{
  margin: 20px auto 0;
}



/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/** Global **/
#content {
  margin-left:0px;

}
#imgInfoDiv , #imgListDiv{
  position: relative;
  left : 20px;
  
  
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
  border-top: none;
  width:100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}
.block-blocker{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.block-blocker button{
  margin-right: 40px;
  margin-top:  5px;
}
.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav,.side_bar_add {
  max-width: 188px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a ,.side_bar_add > li > a{
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}
a.btn{
  background-color:#eee;
   padding:5px; 
   margin-right:5px; 
   border:1px dashed #ddd; 
   display:block;
    float:left;
  }
  
a.btn.action,a.btn:hover{
  background-color:#aaa;
  color:#fff; 
  border:1px dashed #ccc;
}
.flex{
  display:flex ; 
  align-items: center ;
}
.block-content .demo_style{
 background: #ffff;
  
  width: 500px !important;
  height: 330px !important;
  overflow-y: scroll;
  
  border:1px solid;
}
.block-content .output{
  
  position: absolute;
  left: 350px;
  top: 14px;
}
.block-content .out{
  margin:10px 0 5px 10px  !important; 
   
}
.block-content .p_style{
  font-size: 12px;
  color:grey;
  font-style: italic;
}
 .label_style{
  margin: 20px auto 0;
}
.label_style .radio_style{
  width: 20px;
  height:20px;
  margin-right: 6px;
  margin-top: -2px;
}

.fr{
  float: right;
}
.fl{
  float: left;
}
.clear{
  clear:both;
  overflow: hidden;
}


.table_style{
  
  text-align:center !important;
}

.page_a{
  text-decoration: none ;
  color: rgb(15, 93, 156);
  border: 1px solid #dbdbdb;
  padding:  5px 10px;
  font-size: 16px;
  line-height: 30px;
  
  

}
.datalabel{
  float:left;
}
.dataTables_length label select{
  width: 60px;
  margin-top: 10px;
}

.span6 .search_label{
  margin-left: 214px;
}
.span6 .search_label input{
width: 200px;
margin-top: 10px;

}

.form-actions{
  background: #fff;
}

.btn-primary{
  margin: 5px auto;
  
}

.table{
  width:100%;
  margin-bottom:40px;
  
}
.page_style{
  position: absolute;
  left: 50%;
  margin-left: -320px;
  bottom: 0px;
}


.input_text_style{
  width:40px;
}
.table-toolbar{
  margin-bottom: 15px !important;
}

.span13{
  margin-left: 0px !important;
  display: flex !important;
  flex-direction: column-reverse;
}

.form_style{
  margin-bottom: 0px;
  height: 48px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items:center;
}
.canvas{
  margin:0 auto;
  background: rgb(245, 245, 245) ;
}
#canvas_main{
  background: rgb(245, 245, 245);
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
  z-index:2;
  
  
}
#canvas_main span{
  color: #fff;
}
.map{
  width: 1309px !important;
}
.map_width{
  width: 100%;
}

.tool_bar{
  width:97px;
  background: rgb(245, 245, 245);
  border:1px solid #c1c1c1;
  border-radius: 5px;
  display: inline-block;
  height:426px;
  margin-right: 10px;
  
}
.tool_bar p{
  
  text-align: center;
  color: rgb(0,150,217);
  margin: 15px 0 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.hr{
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #c1c1c1;
  margin-bottom: 15px;
}
.tool_bar_main{
  display: flex;
  flex-direction: column;
  
}
.sel_bar{
  background: rgb(245, 245, 245);
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  height: 120px;
 
  position: relative;
  width: 66%;
  margin-left: 110px;
}
.sel_bar_p{
  width: 50px;
 
  color: rgb(0,150,217);
  font-size: 18px;
  font-weight: bold;
  position: absolute;left: 35px;top: 30px;
}
.sel_bar_p p{
  width: 20px;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
.show_pic{
  display: flex;
  flex-direction: row;
}
.plot_1,.trim_1{
  width:100px;
  height: 50px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin:5px;
  /* margin-left: 10px; */
}
.plot_img,.trim_img,.back_img{
  width: 100%;
  height: 100%;
}
.prev{
  background: url(../images/scroll_bg.gif) no-repeat;
  left:-5px;
}
.next{
  background: url(../images/scroll_bg.gif) no-repeat 0 -43px;
  right:0px;
}
.prev,.next{
  width: 35px;
  height: 43px;
  position: absolute;
  top: 44px;
  cursor: pointer;

}
#plot_div,#trim_div,#back_div{
 margin-bottom:0px;
 margin-left:0px;
 position: absolute; 
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
 
}

.plot_ul{
  position: relative;left: 80px;
  width: 80%; 
  height: 120px;
  margin-right: 40px;
}

li{
  list-style: none;
}
.plot_imgInfo , .trim_imgInfo,.setting_imgInfo{
  background: rgb(245, 245, 245);
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  width:260px;
  height: 240px;
  overflow: auto;
  margin-right:70px;
}

.trim_imgInfo,.setting_imgInfo{
  margin-top: 10px;
  
}

.topLi{
  
  margin-top: 10px;
  display: flex;
  align-content: center;
  font-size: 16px;
  color: #08c;
  border-bottom: 1px solid #c1c1c1;
  
}
.trim_topLi{
  margin-top: 10px;
 
  text-align: center;
  font-size: 16px;
  color: #08c;
  border-bottom: 1px solid #c1c1c1;
}
.trim_mainLi,.setting_mainLi{
  text-indent: 2px;
  color: #08c;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  flex-wrap : wrap;
 
}
.trim_mainLi p,.setting_mainLi p{
  display: inline-block;
}
.trim_mainLi input,.setting_mainLi input{
  width: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.trim_mainLi label,.setting_mainLi label{
 margin-top : 5px;
 margin-left: 3px;
}
.label_p{
  margin:6px 0px 0px;
}
.mainLi{
  border-bottom: 1px solid #c1c1c1;
  margin-top:10px;
  
  font-size: 14px;
  display: flex;
  align-content: center;

}
.btn-info{
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left:  5px;
}
#imgInfoList , #imgInfoLists ,#settingLists{
  margin: 0;
  
  
}

.delete{
  margin-left: 140px;
  border:none;
  background: rgb(245, 245, 245);
  color:#08c;
  font-size: 16px;
  margin-top: 2px;
}
.Li_a{
  margin-top: 5px;
  font-size: 16px;
}

.chk_1,.chk{ 
  display: none; 
} 

.chk_1 + label,.chk + label { 
  background-color: #FFF; 
  border: 1px solid #C1CACA; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); 
  padding: 9px; 
  border-radius: 5px; 
  display: inline-block; 
  position: relative; 
  margin-left: 10px; 
  margin-top: 5px;
  margin-right:5px;
} 
.chk_1 + label:active,.chk + label:active { 
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 

.chk_1:checked + label ,.chk:checked + label{ 
  background-color: #ECF2F7; 
  border: 1px solid #92A1AC; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
  color: #243441; 
} 

.chk_1:checked + label:after,.chk:checked + label:after { 
  content: '\2714';  
  position: absolute; 
  top: 0px; 
  left: 0px; 
  color: #758794; 
  width: 100%; 
  text-align: center; 
  font-size: 1.4em; 
  padding: 1px 0 0 0; 
  vertical-align: text-top; 
} 

.imgListSpan{
  color: #000000;
  display: inline-block;
}
#upIndex,#downIndex{
  padding-left : 5px;
  padding-right : 6px;
  font-size: 12px;
}
#plot,#setting,#outPut,#clearBtn{
  padding-left : 22px;
  padding-right : 22px;
}
#plot_bottom,#trim_bottom,#back_bottom{
  margin-bottom: 20px;
}

.side_bar_add{
  max-width: 128px;
  margin : 0;
  position: absolute;
  left:188px;
  bottom:18px;
  
}
#sidebar{
  position: relative;
}


/*==========以下部分是Validform必须的===========*/
#addAgain{
  margin-left: 5px;
}
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}



.grade_warp{
  width:450;
  float: left;
  margin-left: 10px;
}  

.bars_input{
  width:30px;
  height: 30px !important;
  padding :0px !important;
  border: 0px !important;
  margin-bottom: 0px !important;
  background: #f5f5f5 !important;
  text-align: center;
}
.User_grade{
  width:100%;
}  
.User_ratings {
  overflow: hidden;
}  
.User_ratings .ratings_title{
  width:815px;
  height:78px;
  font-family:"微软雅黑","宋体";
  font-size:24px;
  color:#aaaaaa;
}  
.User_ratings .ratings_title01{
  width:407px;
  height:auto;
  font-family:"微软雅黑","宋体";
  font-size:14px;
  color:#aaaaaa;
}  
.User_ratings .ratings_bars{
  width:407px;
  height:34px;
  padding-top: 5px;
}  
.User_ratings .ratings_bars #title0 {
  width:25px;
  height:25px;
  text-align:center;
  border:1px solid #bfbebe;
  line-height:25px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  float:left;
  color:#a0a0a0;
  margin-right:10px;
  background:#fff;
}  
.User_ratings .ratings_bars .bars_10,.bars_input,.bars_11{
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:18px !important;
  line-height:25px;
  float:left;
  color:#a0a0a0 !important;
}  
.User_ratings .ratings_bars .scale{
  width:299px;
  height:13px;
  float:left;
  margin:7px 10px auto 10px;
  position:relative;
  background:url(../images/select.png) 0 0 no-repeat;
}  
.User_ratings .ratings_bars .scale div{
  width:0px;
  position:absolute;
  left:0;
  height:13px;
  bottom:0;
  background:url(../images/select.png) 0 -14px no-repeat;
}  
.User_ratings .ratings_bars .scale span{
  width:10px;
  height:26px;
  position:absolute;
  left:-2px;
  top:-7px;
  cursor:pointer;
  background:url(../images/selector.png) no-repeat;
}  
.bars_button{
  background : #f5f5f5;
  padding : 0;
  border : 1px solid #c1c1c1;
  border-radius : 5px;
  width : 50px;
  height: 30px;
}
.bars_info_label,.bars_info_input{
  margin-bottom: 0;
  margin-right: 5px;
  margin-top: 20px;
  margin-left:  15px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px !important;
  line-height:25px;
  columns: #333333 !important;
}
.bars_info_input{
  width : 50px ;
  margin-top : 15px !important;
  margin-left: 20px;
  
}

.bulletAddUl,.bulletInfoList{
  margin : 0;
  margin-top: 10px;
  max-height: 280px;
  overflow-y : scroll;
}
.bars_info_button{
  margin-top: 20px;
  border: 0;
  background: #f5f5f5;
  font-family:"微软雅黑","宋体";
  font-size:14px;
  color:#aaaaaa;
  cursor: pointer;
}

/* ********************************bullet_index.php CSS样式 ***********************************/
#bullet_index_content{
  width : 700px;
  height: 600px;
  background: rgba(242, 242, 242, 1);
  margin: 20px auto;
  padding-top : 200px;
  padding-left : 200px;
  display: flex;
  flex-direction: column;
}
.bullet_index_btn{
    border: 1px solid #c1c1c1;
    background: #ffffff;
    border-radius: 5px; 
    width:  100px;
    height : 40px;
    display: flex;
    align-items: center;
    padding-left : 40px;
    margin-left: 150px;
}
.bullet_index_btn:hover{
  text-decoration: none;
  cursor: pointer;
}
.createForms{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.createLabs{
  margin : 10px 10px 0 0;
}
.createInp1s{
  margin: 5px 40px 0 20px !important;
}
.createInp2s{
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #ffffff;
  width: 60px !important;
  margin-top: 7px;
}







/* ********************************bullet.php CSS样式 ***********************************/
.powederSideBarClass{
  width: 211px;
  height: 1000px;
  border: 2px solid #c1c1c1;
  border-top :5px;
  border-radius: 0 0 5px;
  position: relative;
}
.container-fluid{
  padding-left: 0px;
}
.navbar-fixed-top{
  margin-bottom: 0px;
}
.powderIdInfoClass{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}
.powderP{
  margin-right: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}
.ChariotInfoClass{
  margin-left: 30px;
}
.bulletOptionInfoClass{
  
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.bulletOptionInfoClass>p{
  margin: 0px;
  margin-left:8px;
  margin-top : 2px;
}
.bulletOptionInfoClass>a{
  margin-left: 12px;
}
#bulletBottomBtn{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}
#bulletBottomBtn>button{
  width : 138px;
  height: 38px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #ffffff;
  margin: 10px 40px;
}

.ChariotOptionsClass{
  border: 2px solid #c1c1c1;

  margin-left: 40px;
  width: 507px;
  height: 560px;
  padding: 20px;
  padding-left: 60px;
  /* display: none; */
}
.ChariotOptionsClass>h1{
  font-size: 18px;
}

.bulletName{
  
  margin-left: 27px;
  margin-top: 5px;
}
.bulletOptionsA{
  margin-right: 9px;
}
.bulletNames,.trailNames,.trailNames1{
  margin: 0px;
  margin-left: 5px;
  margin-top: 3px;
  cursor: pointer;
}
.trailNames1:hover,.trailNames:hover{
  color: #fff;
  padding:3px;
  border-radius: 5px;
}
.trailNames1:hover{
  background: rgb(3, 103, 153) !important;
}
.trailNames:hover{
  background: rgb(55, 151, 199);
  
}
.bulletOptionConditionsA{
  margin-left: 18px;
  margin-right: 9px;
}
.bulletCondtion{
  margin-top: 10px;
  margin-left: 10px;
}
.bulletCondtionInfo{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 42px;
  
}
a:hover{
  text-decoration: none;
}
.showPicMode,.changePicMode{
  display: block;
  width : 9px;
  height: 9px;
 
  margin-top: 8px;
}
.showPicMode{
  
  background: url('../images/page1/u17_selected.png') left no-repeat;
 
}
.changePicMode{
  background: url('../images/page1/u17.png') left no-repeat;
}
.triggerResultLis:hover{
  background: #08c;
  color: white;
  font-weight: bold;
}
.deleteA:hover{
  color: white;
  background: tomato;
  width: 40px;
  text-align: center;
}

/* **************************************运动轨迹CSS效果**************************************************************** */
.trailOfMoveClass{
  border: 2px solid #c1c1c1;
  margin-left:20px;
  padding: 40px;
  width: 689px;
  height: 600px;
  position: relative;
  /* display: none; */
}
.hidd{
  display: none;
}
.flyControlContentClass,.rollControlClass,.jumpControlClass{
  border: 2px solid #c1c1c1;
  padding : 30px;
  border-radius: 5px;
  margin-top: 15px;
  
  width : 560px;
  height: 400px;
}
.flyBeginAxies{
  margin-left: 5px;
  margin-top: 5px;
}
.flyControlContentClass{
  display: block;
  position: relative;
}
.flyControlDiv,.rollControlList,.jumpControlList{
  display: flex;
  flex-direction: row;
}
.triggerResultAs{
  margin: 6px 85px 0 0 !important;
}
.flyControlP,.rollControlP,.jumpControlP,.flyControlP1{
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  
  margin-bottom: 20px;
}
.flyControlSel{
  margin: 5px 10px 0 5px;
}
.specialSel{
  margin-left:42px;
}
.specialSel1{
  margin-left: 25px;
}
.flyBeginInp,.rollInp,.jumpInp{
  margin: 5px 0 0 10px;
}
.flyBeginInpAxies{
  width: 70px;
  margin-right: 10px;
  margin-top: 5px;
}
.bars_buttonExt{
margin-left: 40px;
margin-top: 40px;
width : 80px;
padding: 5px 20px;
border-radius: 5px;
}
.flyBeginLab{
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
}
#flyControlBottom{
  position: absolute;
  bottom: 100px;
  left: 240px;
}
.flyControlBtn{
  margin-right: 40px;
  background: rgba(242, 242, 242, 1);
  font-size: 16px;
  line-height:  30px;
  padding : 3px 32px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}

/* ******************************************触发条件CSS样式*************************************************************** */
.row-fluid{
  position: relative;
}
.triggerConditionModClass{
  position: absolute;left: 270px;top:20px;
}
.triggerConditonsClass,.triggerConditionResultClass{
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  width : 700px;
  margin-bottom: 10px;
  
  

}
.triggerConditonsClass{
  height: 158px;
  position: relative;
}
.triggerConditionResultClass{
  height: 658px;
}

.triggerConditonP{
  margin-left: 0px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 0px;
}
.triggerConditionPExtra{
  margin-left: 50px;
}
.triggerSel{
  margin-top: 10px;
  margin-left: 50px;
}
.triggerSelection{
  margin: 14px 0 30px 120px;
}
.triggerShowInfo{
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  width : 300px;
  height: 20px;
  margin: 10px auto;
  padding : 10px 0 20px 20px;
  position: absolute;bottom:10px;left:180px;
}
.triggerP{
  font-size: 16px;
  line-height: 30px;
  
  height: 30px;
}
.triggerAddP{
  font-weight: normal;
  font-size: 14px;
}
.labelLeft{
  margin-left: 40px !important;
}
.triggerInp{
  margin: 5px 40px 0 5px;
  max-width: 130px;
}


.triggerResultAEx{
  margin-top: 28px !important;
  margin-right: 160px !important;
  width: 22px;
  height: 22px;

}
.charitoLabel_p{
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 16px;
}
.triggerResultSideListClass{
  margin-left: 30px;
  border: 1px solid #c1c1c1;
  margin-top: 10px;
  border-radius: 5px;
  
}
.triggerResultSideListClass>li{
  border-bottom: 1px solid #c1c1c1;
  line-height: 30px;
  font-size: 14px;
  padding : 3px 20px;
  
}

.triggerResultOptionClass{
  margin-left : 30px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  margin-top : 10px;
  width : 500px;
  height : 550px !important;
  margin-bottom: 0px;
}
.triggerResultOptionTopClass{
  display: flex;
  flex-direction: row;
}
.triggerResultSelect{
  margin : 15px 45px 0;
}
.triggerResultA{
  margin :18px 0 0 0px;
  cursor: pointer;
}
.triggerResultOptionBottomClass{
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  margin:  20px 30px 0 ;
  height: 400px;
}


.triggerResultOptionP{
  line-height: 100px;
  height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.triggerOfP{
  margin-left : 20px;
  font-size: 16px;
  margin-top: 20px;
}
.effectOfValue{
  display: flex;
  flex-direction: row;
}
.triggerOfInp{
  margin : 15px 0 20px 50px;
}
.effectOfValue_label{
  height: 0px;
  margin: 20px 5px 0 50px !important;
}
.effectOfValue_p{
  margin: 20px 0 0;
}
.effectOfValue_sel{
  margin : 15px 0 0 65px;
}
.triggerOfInpExtra{
  margin-left: 98px;
}
.effectOfValue_selExtra{
  margin-left: 50px;
}
#triggerResultBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.triggerResultOfBtn{
  padding: 5px 22px;
  background: #ffffff;
  border-radius: 5px;
  margin : 0px -60px 0 200px;
}
.showDiv{
  display: block;
}
.triggerResultLis{
  cursor: pointer;
}
.flyControlP1{
  margin-right: 40px;
}
.P2{
  margin-right: 35px !important;
}
.P3{
  margin-right: 60px!important;
}
.P4{
  margin-right: 60px!important;
}
.P5{
  margin-right: 30px!important;
}
.imgSrcDiv{
  height: 120px;
  margin-top: 10px;
  position: relative;
}
.widthLab,.heightLab{
  margin-right: 0px;
  margin-left: 0px;
}
.widthInp,.heightInp{
  margin-left: 5px;
  margin-right: 5px;
}
.fileSpan{
  width: 120px;
  height: 120px;
}
.imgFile{
  width: 100%;
  height: 100%;
}

.fileSrcInp,.fileSpan1{
  margin: 60px 0 0 120px;
}
.fileSpan1{
  display: block;
  width: 200px;
  height: 200px;
}
.effectOfValue_art{
  display: flex;
  flex-direction: column;
  position: relative;
}
.bullet_infoDiv{
  width : 300px;
  height: 300px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  margin-left: 80px;
}
.bullet_infoUl{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 260px;
  height: 260px;
}
.bullet_infoLi{
  margin: 10px 20px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
.bullet_infoLi:hover{
  background: teal;
  font-weight: bold;
  color: #ffffff;
}
#topBar{
  height: 780px;
  overflow: auto;
}
.flyExtra{
  width : 310px;
}
.trackValue{
  width : 220px;
  height: 195px;
  position: absolute;left:330px;top: 200px;
  border: 1px solid #c1c1c1;
  padding-left: 20px;
  border-radius: 5px;
  display: none;
}
.trackValueLab{
  font-size: 14px;
  font-weight: bold;
}
.trackValueInp{
  width : 180px;
}
.trackValueSel{
  width : 198px;
}
.flyBeginEx{
  width : 224px;
}
.fileName{
  position: absolute;left: 100px;top:50px;
  width: 140px;
}
.fileName1{
  width: 140px;
  position: absolute;left: 120px;top:100px;
}
.activeTrigger{
  background: rgb(25, 184, 33);
  color: #fff;
  padding: 3px;
}